* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.imgRef{
    height: 200px;
}

.logo {
    width: 220px;
    height: 220px;
    background: linear-gradient(-45deg, #000 10%, #425ca9 90%);
    border-radius: 50%;
    position: relative;
    margin: auto;
    margin-bottom: 3em;
    margin-top: 3em;
    top: 0;
    left: -20px;
    right: 0;
    bottom: 0;
    border: 10px solid #c9def3;
    text-shadow: 5px 5px 0px #000;
}
.logo .elipse {
    width: 40px;
    height: 205px;
    position: absolute;
    border: 2px dotted #9db7d2;
    border-radius: 50% 100%;
    z-index: 5;
    left: 80px;
    top: -1px;
}
.logo .elipse1 {
    transform: rotate(20deg);
}
.logo .elipse2 {
    transform: rotate(40deg);
}
.logo .elipse3 {
    transform: rotate(60deg);
}
.logo .elipse4 {
    transform: rotate(80deg);
}
.logo .elipse5 {
    transform: rotate(100deg);
}
.logo .elipse6 {
    transform: rotate(120deg);
}
.logo .elipse7 {
    transform: rotate(140deg);
}
.logo .elipse8 {
    transform: rotate(160deg);
}
.logo .elipse9 {
    transform: rotate(180deg);
}

.logo .inner-circle {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #001621;
    border: 10px solid #d2e4fa;
    border-radius: 50%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.logo .title {
    font-size: 40px;
    width: 200px;
    z-index: 10;
    position: absolute;
    font-weight: bold;
    color: #fff;
    text-align: center;
    top: 75px;
    left: -15px;
}

/* QUIZ STYLES */
#quiz {
    width: 110%;
}
#answer {
    cursor: pointer;
    fill: #293990;
    stroke: #231f20;
    strokeMiterlimit: 10;
    font-size:0.75em;
}
#answer:hover {
    fill: #f9c722;
}

#question {
    fill: #293990;
    stroke: #231f20;
}
text {
    fill: white;
    font-size:0.5em;
}
text.questionLabel{
    font-size:1.2em;
}
text:hover{
    cursor: pointer;
}

#green {
    fill: #22f95f;
}

.green{
    fill: #22f95f !important;
}

#red {
    fill: #f92d22;
}

.red{
    fill: #f92d22 !important;
}

.jumbotron-image {
    height: 290px;
    margin: auto;
    margin-bottom: 1em;
    text-align: center;
}

.drawer-money-text {
    font-size: 25px;
    text-align: center;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.active-money {
    background-color: #A6CF39;
}

.lifelines {
    height: 60px;
    margin-top: 1em;
    position: absolute
}

.card {
    margin-top: 12px;
    margin-bottom: 12px;
}


.arrow {
    height: 10px;
}